<!DOCTYPE html>
<html lang="en">
<!-- Site url = https://comp308assignment01.herokuapp.com
 Author : Clinton Essien
 Fie name: about.ejs - About Content
 Description - About Page
 script link s- https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
 https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js
 https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js
-->
<head>
  <title>Clinton Portflio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>CLINTON ESSIEN</h1>
  <h1> SOFTWARE ENGINEERING<h1>
  </div>
  <p>My name is Clinton Essien, am originally from Nigeria, West Africa. I am acurret student of Centennial College, Toronto Canada; under the software engineering technology program.

  <br> I am certified in certain areas of ICET such as: web developement, database management, software develpoment and management skills entailed, below are my techical skills</br>
  <ul>
  <li> C# Programming</li>
  <li> Database management</li>
  <li> Software security and control</li>
  <li> Game Design</li>
  <img src="images/computers.jpg">
  <footer>
  <div class="container">
  <a href="https://comp308assignment01.herokuapp.com"> <p> Home Page</></a>
    <p>CopyRight@ Clinton Essien portfolio</p>
  </div>
</footer>
</body>
</html>
  </body>