
<!DOCTYPE html>
<html lang="en">
<!-- Site url = https://comp308assignment01.herokuapp.com
 Author : Clinton Essien
 Fie name: index - Homepage
 Description - Homepage Content
-->
<head>
  <title>Clinton Portflio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>CLINTON ESSIEN</h1>
  <h1> SOFTWARE ENGINEERING<h1>
  <p>Hello, Welcome to my port folio</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>About me</h3>
      <a href="/about"><img src="images/about-1.png" style="width:304px;height:228px;"></a>
      
    </div>
    <div class="col-sm-4">
      <h3>Service Page</h3>
     <a href="/service"> <img src="images/sew-1.jpg" style="width:304px;height:228px;"></a>
      
    </div>
    <div class="col-sm-4">
      <h3>Projects</h3>     
     <a href="/project"> <img src="images/pro.png" style="width:304px;height:228px;"></a>   
      <h3>Contact me</h3>        
    <a href="/contact"><img src="images/con-1.png" style="width:304px;height:228px;"></a> 
      
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <p>CopyRight@ Clinton Essien portfolio</p>
  </div>
</footer>
</body>
</html>


